<div>
  <ul class="storeSideMenu">
    <li><%= link_to 'Search', store_search_path %></li>
    <li><%= link_to 'Something', store_search_path %></li>
    <li><%= link_to 'Something Else', store_search_path %></li>
  </ul>
</div>
